.Wrap {
  height: 100vh;
  display: flex;
  position: relative;
  flex-flow: column;
  overflow: hidden;
}
.Top {

}
.Content {
  position: relative;
  transition: all 0.3s ease-out;
  @media only screen and (min-width: 768px) {
    flex: 1;
    display: flex;
  }
}
.Main {
  flex: 1;
}
.Sidebar {
  width: 100%;
  transition: all 0.3s ease-out;
  @media (min-width: 768px) {
    width: @panelDimension;
  }
  &.is-collapsed {
    transform: translateX(-100%);
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
.Footer {
  height: @footerHeight;
}
