.wrap {
  height: 100%;
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  &.is-vertical {
    flex-direction: column;
  }
}
.top,
.footer {
  flex: none;
}
.top {
  z-index: 100;
}
.content {
  position: relative;
  transition: all 0.3s ease-out;
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  .is-vertical & {
    flex-direction: row;
    flex: 1 1 auto;
  }
}
.main {
  flex: 1 1 auto;
  position: relative;
}
.footer {
  height: @footerHeight;
}
